@charset "ISO-8859-1";

.box {
      width: 100px;
      height: 100px;
      background-color: lightblue;
    }
    .margin-example {
      margin: 20px;
    }
    .padding-example {
      padding: 20px;
      background-color: lightcoral;
    }